.site-footer{
    background-color: #101010;
    color: #FFFFFF;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

p {
    color: #FFFFFFFF;
    font-size: 17px;
    padding-top: 5px;
}