.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  background-color: #111111;
  padding-top: 2px;
  color: #FFFFFF;
  height: 75px;
}

.img {
  width: 100%;
  height: 832px;
  position: relative;
}

.nav-item {
  margin-right: 20px;
  background-color: #FFFFFF;
}

.Header {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  color: #FFFFFF;
}

.Paragraph {
  position: absolute;
  top: 42%;
  left: 630px;
  width: 35%;
  font-size: 25px;
  color: #F8F8F8;
}

.Button {
  position: absolute;
  top: 62%;
  left: 835px;
  width: 15%;
  font-size: 25px;
  color: #FFFFFF;
  background-color: #6495ED;
}

.TextOne {
  color: #000000;
  font-weight: bolder;
  margin-bottom: 0px;
  margin-top: 0px;
}

.TextTwo {
  color: #808080;
  margin-top: 0px;
  font-weight: bolder;
}

.LoginCard {
  width: 30rem;
}

.HomeCard {
  width: 12rem;
  margin-right: 40px;
}

.HomeCard:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 15px 35px 0 rgba(0, 0, 0, 0.19);
  font-size: 20px;
  transition: 300ms;
}

.HomeList {
  margin-right: 50px;
}

.linkSize {
  font-size: 16px;
}

.background {
  background-color: #F8F8F8;
}

.InfoCard {
  width: 30rem;
}

.site-footer{
  background-color: #111111;
  color: #FFFFFF;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 15px;
}

.FooterParagraph {
  color: #FFFFFFFF;
  font-size: 15px;
  padding-top: 5px;
  margin-top: 10px;
}

.Categories {
  margin-right: 0px;
}

.DateBackground {
  background-color: #FDCE3F;
}

.Link {
  color: #000000;
}

.Link:hover {
  text-decoration: none;
  color: #808080;
}

.NavLink {
  color: #FFFF
}

.NavLink:hover {
  text-decoration: none;
  color: #808080;
}

.NavList {
  background-color: #111111;
  padding-right: 23px;
}

.leftAnimation {
  position:relative;
  animation:animateleft 0.5s
}

@keyframes animateleft {
  from{left:-200px;opacity:0}
  to{left:0;opacity:1}}

.carousel-inner {
  max-height: 350px !important;
  max-width: 650px !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}

.carousel-indicators {
  filter: invert(100%);
}
