.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  background-color: #6495ED;
  padding: 25x;
  color: #FFFFFF;
  height: 75px;
}

Link {
  color: #FFFFFF
}

.img {
  width: 100%;
  height: 832px;
  position: relative;
}

.nav-item {
  margin-right: 20px;
  background-color: #FFFFFF;
}

.Header {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  color: #FFFF;
}

.Paragraph {
  position: absolute;
  top: 42%;
  left: 630px;
  width: 35%;
  font-size: 25px;
  color: #FFFF;
}

.Button {
  position: absolute;
  top: 62%;
  left: 835px;
  width: 15%;
  font-size: 25px;
  color: #FFFF;
  background-color: #6495ED;
}

.card-body {
   width: 18rem;
}

.card {
  margin-top: 20px;
}

.TextOne {
  color: #000000;
  font-weight: bolder;
  margin-bottom: 0px;
  margin-top: 0px;
}

.TextTwo {
  color: #808080;
  margin-top: 0px;
  font-weight: bolder;
}

.LoginCard {
  width: 30rem;
}

.BuySellButtons {
  margin-left: 25px;
  margin-top: 30px;
}

.HomeCard {
  width: 12rem;
  margin-right: 35px;
}

.HomeList {
  margin-right: 50px;
}

.PercentageNavText {
  color: #000000;
}